<div class="row">
	<div ng-repeat="item in items">
		<div ng-hide="checks($index) == teamSize" class="col-xs-12">
				<a class="repeated-item btn btn-info btn-lg btn-block" href="" ng-click="checkItem($index)">{{ item.item }}<span ng-repeat="check in totalChecks($index)"><span class="glyphicon glyphicon-ok"></span></span></a><br/>
		</div>
	</div>
<br/>
</div>
<div class="row">
	<div class="col-xs-9">
		<form class="form-inline" ng-submit="addItem()">
			<input type="text" class="form-control" ng-model="item.description">
			<input type="submit" class="btn btn-primary" value="Add item">			
		</form>
	</div>
	<div class="col-xs-3">
			<button ng-click="resetList()" class="btn btn-warning">Reset List</button>
	</div>
</div><br/>

