<div class="container">
	<div class="row">
	<p> {{ listName }} </p>
		<div ng-repeat="item in items">
			<div ng-hide="checks($index) == team.length" class="col-xs-12">
					<a class="repeated-item btn btn-info btn-lg btn-block" href="" ng-click="checkItem($index)">{{ item.item }}<span ng-repeat="check in checksAsArray($index)"><span class="glyphicon glyphicon-ok"></span></span></a><br/>
			</div>
		</div>
	<br/>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<form class="form-inline" ng-submit="addItem()">
				<input type="text" class="form-control" ng-model="item.description">
				<input type="submit" class="btn btn-primary" value="Add item">			
			</form>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<button ng-click="resetList()" class="btn btn-warning">Reset List</button>	
			<button ng-click="deleteList()" class="btn btn-danger">Delete List</button>
		</div>
	</div>
</div></br>
<ng-include  src=" 'views/team.html' "></ng-include>




